body{
    font-family: cursive;
    background-color: blanchedalmond;
}
.header_div{
    background-color: ivory;
    color: rgb(152, 19, 185);
}
p{
    font-size: 12px;
    font-weight: bold;
}
button {
    margin-top: 30px;
    width: 130px;
    font-weight: bold;
}
.footer{
    position: fixed;
    color: midnightblue;bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: paleturquoise;
    line-height: 2;
    text-align: center;
}